body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  font-family: "Courier New", Courier, monospace;
}

#map-container {
  display: grid;
  /* rows and columns are dynamically set in JS */
}

#text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 70px 20px 12px;
}

.tile {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 0.5px solid hsl(0 0% 0% / 0.1); */
}

.tile.rough {
  background-color: white;
}

.tile.fairway {
  background-color: hsl(0 0% 0% / 0.1);
}

.tile.sand {
  background-color: hsl(45 70% 85%);
}

.tile.water {
  background-color: hsl(200 60% 75%);
}

.tile.tree {
  background-color: white;
  background-image: url('data:image/svg+xml,<svg viewBox="0 0 40 40" fill="currentColor" stroke="currentColor" xmlns="http://www.w3.org/2000/svg"><path d="M 20,8 L 10,21 L 30,21 Z" stroke-linejoin="round" stroke-width="3"/><path d="M 20,18 L 10,31 L 30,31 Z" stroke-linejoin="round" stroke-width="3"/></svg>');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.tile.ball {
  background-color: hsl(0 0% 0% / 0.1);
  background-image: url('data:image/svg+xml,<svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20" r="6" fill="white" stroke="%23333" stroke-width="1"/></svg>');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.tile.hole {
  background-color: hsl(0 0% 0% / 0.1);
  background-image: url('data:image/svg+xml,<svg viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg"><circle cx="20" cy="20" r="5" fill="%23000"/><line x1="20" y1="4" x2="20" y2="20" stroke="%23000" stroke-width="1.5"/><polygon points="20,4 18,8 22,8" fill="red"/></svg>');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.tile svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

/* Create dots */
.tile::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: var(--dot-color);
  border-radius: 999px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.tile.rough {
  --dot-color: rgba(0, 0, 0, 0.2);
}

.tile.fairway {
  --dot-color: rgba(0, 0, 0, 0.4);
}

.tile.sand {
  --dot-color: rgba(139, 119, 101, 0.3);
}

.tile.water {
  --dot-color: rgba(0, 100, 150, 0.3);
}

.tile.tree {
  --dot-color: rgba(0, 0, 0, 0.2);
}

.tile.ball,
.tile.hole {
  --dot-color: rgba(0, 0, 0, 0.4);
}
