.feature_tile {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: relative;
  color: inherit;
  text-decoration: none;
  border: 1px solid var(--dark-18);
  background-color: var(--dark-18);
  box-shadow: 0 6px 8px -2px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  padding: 18px;
  transition: 300ms var(--ease-out-quart);
  user-select: none;
}

.feature_tile:hover {
  transform: scale(1.01);
}

.feature_tile:focus-visible {
  outline: none;
  border-color: var(--primary-100);
  box-shadow: 0 0 0 var(--selection-outline-width) var(--primary-30);
}

.feature_enabled_light {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 12px;
  height: 12px;
  border-radius: 99px;
  background-image: radial-gradient(circle, hsl(var(--led-hue), 34%, 22%), hsl(var(--led-hue), 30%, 18%), hsl(var(--led-hue), 100%, 10%));
  box-shadow: 0 0 0 1px var(--dark-12-bg), 0 0 0 5px hsla(222, 15%, 0%, 0.1);
}

.feature_enabled_light.active {
  background-image: radial-gradient(circle, hsl(var(--led-hue), 100%, 99%), hsl(var(--led-hue), 100%, 84%), hsl(var(--led-hue), 89%, 52%));
  box-shadow: 0 0 0 1px hsl(var(--led-hue), 100%, 26%), 0 0 0 4px hsla(206, 100%, 50%, 0.08), 0 0 4px hsl(var(--led-hue), 100%, 50%), 0 0 10px var(--led-glow), 0 0 20px var(--led-glow), 0 0 30px var(--led-glow);
}

.feature_name {
  color: var(--text-100);
  padding-right: 30px;
}

.feature_description {
  text-wrap: pretty;
}

.feature_key {
  color: var(--text-75);
  font-weight: 600;
  letter-spacing: 0.5px;
}

.tile_details_toggle {
  display: none;
  flex-direction: column;
  gap: 18px;
}

.tile_details_toggle.active {
  display: flex;
}

.tile_details {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 16px 20px;
  margin-top: 10px;
  border: 1px solid var(--dark-30-border);
  border-radius: var(--radius-elements);
  font-family: 'IBM Plex Mono', monospace;
}
