form {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.form_field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

input[type=text],
textarea {
  display: block;
  padding: 14px;
  background-color: var(--dark-20-input);
  border: 1px solid var(--dark-30-border);
  border-radius: var(--radius-elements);
  color: var(--text-75);
  font-family: inherit;
}

input[type=text]:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--primary-30);
  border-color: var(--primary-100);
  color: var(--text-100);
  transition: 100ms ease-in-out;
}

textarea {
  resize: none;
  min-height: 90px;
}

.switch_container {
  border-top: 1px solid var(--dark-30-border);
  padding-top: 16px;
}

.button {
  color: white;
  padding: 10px 50px;
  border-radius: var(--radius-elements);
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition: 100ms ease-in-out;
  border: 1px solid var(--primary-100);
}

.button:active {
  transform: scale(0.98);
}

.button_primary {
  background-color: var(--primary-100);
}

.button_secondary {
  color: var(--primary-100);
}

.form_button_row {
  display: flex;
  justify-content: flex-end;
  gap: 14px;
}