@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 17 100% 54%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 17 100% 54%;

    --radius: 0.5rem;
  }

  .dark,
  :root[class~="dark"] {
    --background: 240 10% 3.9%;
    --foreground: 60 9.1% 97.8%;

    --card: 240 10% 3.9%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 17 100% 54%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 85% 60%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 17 100% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    @apply selection:bg-accent;
  }
  p {
    @apply text-muted-foreground;
  }
  h1 {
    @apply font-extrabold tracking-tight;
  }
  h2,
  h3 {
    @apply font-semibold tracking-tight;
  }


  /* 👇 Handles browser inconsistency around input autofill treatment */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    -webkit-text-fill-color: hsl(var(--foreground));
    -webkit-box-shadow: 0 0 0px 1000px hsl(var(--muted)) inset;
    background-color: hsl(var(--muted));
    transition: background-color 5000s ease-in-out 0s;
  }
}
