*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  /* More vivid Root orange */
  --primary-base: 15 100% 54%;

  --primary-light: 20 100% 54%;
  --primary-dark: 12 100% 54%;

  /* Neon green */
  /* --primary-base: 80 100% 54%; */
}

:root {
  --background: 0 0% 100%;
  --foreground: 240 10% 3.9%;

  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;

  --primary: var(--primary-base);
  --primary-foreground: 0 0% 98%;

  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;

  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 54%;

  --accent: 60 4.8% 95.9%;
  --accent-foreground: 24 9.8% 10%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 98%;

  --success: 156 90% 50%;
  --success-foreground: 0 0% 98%;

  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: var(--primary-base);
}

@media (prefers-color-scheme: dark) {
  :root {
    --base-hue: 266;
    --white: oklch(100% 0 0);
    --background-new: oklch(18.68% 0.01 var(--base-hue));
    --card-new: oklch(20.8% 0.012 var(--base-hue));
    --border-new: oklch(25.84% 0.018 var(--base-hue));

    --background: 240 10% 3.9%;
    --foreground: 60 9.1% 97.8%;

    --card: 240 10% 10%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 240 10% 10%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: var(--primary-base);
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 85% 60%;
    --destructive-foreground: 60 9.1% 97.8%;

    --success: 156 90% 50%;
    --success-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: var(--primary-base);
  }
}

:root {
  --radius: 0.5rem;
  --ease-out-quart: cubic-bezier(0.165, 0.85, 0.45, 1);
  --ring-width: 4px;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: hsl(var(--foreground));
  background-color: var(--background-new);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: hsl(var(--foreground));
  font-weight: 600;
  line-height: 1.2;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
a,
p,
label,
img {
  user-select: none;
}

p,
li,
button,
a,
label,
input,
textarea,
select {
  margin: 0;
  color: hsl(var(--foreground));
  font-size: 1rem;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

ul {
  padding-left: 1rem;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

li {
  list-style: none;
}

header {
  position: fixed;
  padding: 20px;
  z-index: 10;

  svg {
    display: block;
  }
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* Buttons */

button {
  font-family: Inter, system-ui, sans-serif;
  flex: 1;
  padding: 14px 30px;
  background-color: hsl(var(--background));
  border: 1px solid hsl(var(--input));
  border-radius: var(--radius);
  box-shadow: var(--shadow-sm);
  color: hsl(var(--foreground) / 0.7);
  cursor: pointer;
  font-weight: 600;
  transition: all 200ms var(--ease-out-quart);

  &:hover {
    color: hsl(var(--foreground));
    background-color: hsl(var(--foreground) / 0.02);
  }

  &:active {
    background-color: hsl(var(--foreground) / 0.05);
  }

  &:focus-visible {
    outline: none;
    box-shadow: 0 0 0 var(--ring-width) hsl(var(--ring) / 0.3);
    border-color: hsl(var(--primary));
  }
}

button.btn-sm {
  padding: 8px 16px;
  font-size: 14px;
}

button.btn-icon {
  display: grid;
  place-content: center;
  padding: 0;
  width: 40px;
  height: 40px;

  & > span {
    display: inline-flex;
  }

  & svg {
    opacity: 0.8;
  }

  &:hover {
    & svg {
      opacity: 1;
    }
  }
}

button.btn-primary {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
  border: 1px solid hsl(var(--primary));
  box-shadow: 0 20px 25px -5px hsl(var(--primary) / 0.3),
    0 8px 10px -6px hsl(var(--primary) / 0.3);

  &:hover {
    background-color: hsl(var(--primary) / 0.9);
  }

  &:active {
    background-color: hsl(var(--primary) / 0.8);
  }
}

button.btn-destructive {
  color: hsl(var(--destructive));
  border: 1px solid hsl(var(--destructive));

  &:hover {
    background-color: hsl(var(--destructive) / 0.05);
  }

  &:active {
    background-color: hsl(var(--destructive) / 0);
  }
}

button.btn-gradient {
  background: linear-gradient(
    to bottom,
    hsl(var(--primary-light)),
    hsl(var(--primary-dark))
  );
  color: hsl(var(--primary-foreground));
  border: 1px solid hsl(var(--primary));
  box-shadow: 0 20px 25px -5px hsl(var(--primary) / 0.3),
    0 8px 10px -6px hsl(var(--primary) / 0.3);

  &:active {
    box-shadow: 0 2px 6px 0px hsl(var(--primary) / 0.3),
      0 8px 10px -6px hsl(var(--primary) / 0.3);
  }
}

button.btn-multi-state {
  position: relative;
  overflow: hidden;
  width: 230px;
  height: 50px;

  span {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 0px 1px 1.5px hsla(14, 100%, 14%, 0.18);
  }
}
