html {
  box-sizing: border-box;
  font-size: 10px;
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  color: rgb(12, 14, 44);
}

h1::selection, h2::selection, p::selection, li::selection, a::selection {
  background-color: rgb(255, 187, 227);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.divider {
  color: rgb(255, 0, 128);
}

.links {
  padding: 0;
  max-width: 800px;
}

.links p {
  margin: 0;
  padding: 10px 0;
}

.links a {
  display: block;
  padding: 10px 0;
  text-decoration: none;
  color: rgb(68, 0, 255);
  transition: 100ms ease-in-out;
}

.links a:visited {
  color: rgb(68, 0, 255);
}

.links a:focus, .links a:hover {
  color: rgb(255, 0, 128);
  transform: translateX(3px);
  outline: none;
}