
.header
  margin: 6rem

  .titleText
    color: hsla(0, 87%, 63%, 1)
    font-family: Merriweather
    font-weight: 900
    text-align: center

  h1
    font-size: 11rem
    line-height: 16rem
  
  h2
    font-size: 6rem
    line-height: 7rem
