<%= link_to("Back to main", "/", class: "back-link") %><br />

<div class="category delete">
  <h2>Delete Category</h2>

  <%= form_for(@category, method: "delete") do |f| %>
    <p>Are you sure you want to permanently delete this category?</p>
    <p><%= @category.name %></p>

    <%= f.submit("Delete category") %>
  <% end %>
</div>
