<%= link_to("Back to list", "/", class: "back-link") %><br />

<div class="categories new">
  <h2>Create Category</h2>

  <%= form_for(@category) do |f| %>
    <%= f.text_field(:name, placeholder: "Name", required: true) %>
    <%= f.submit("Create category") %>
  <% end %>
</div>
