<%= link_to("Back to homepage", {controller: 'main', action: 'index'}) %>

<h1>Tasks#index</h1>
<p>Find me in app/views/tasks/index.html.erb</p>

<h3>Todos</h3>

<ul>
  <% @todos.each do |task| %>
    <li><%= task %></li>
  <% end %>
</ul>

<%= link_to("About page", {
  controller: 'main', 
  action: 'about',
  user_id: 2386,
  coming_from: 'tasks'
}) %>
