<%= link_to("Back to list", tasks_path, class: "back-link") %><br />

<div class="tasks new">
  <h2>Create Task</h2>

  <%= form_for(@task) do |f| %>
    <%= render(partial: "form", locals: {f: f}) %>
    <%= f.submit("Create task") %>
  <% end %>
</div>
