:root {
  --nav-height: 60px;
  /* Colors */
  --white: 0 0% 100%;
  --black: 0 0% 0%;
  --solar: 64 89% 54%;
  --forest: 167 38% 15%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: grid;
    place-items: center;
    height: var(--nav-height);
    padding-inline: 20px;
  }

  nav {
    display: flex;

    a {
      display: grid;
      place-items: center;
      height: var(--nav-height);
      padding-inline: 20px;
    }
  }

  @media screen and (max-width: 540px) {
    flex-direction: column;

    .logo {
      width: 100%;
    }

    nav {
      width: 100%;
      flex-direction: column;

      a {
        height: 40px;
      }
    }
  }
}

main {
  padding: 120px 20px;
  display: flex;
  justify-content: center;

  .page-wrap {
    width: min(100%, 700px);
  }

  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    text-align: center;
    p {
      text-wrap: pretty;
      max-width: 400px;
    }
  }
}

footer {
  margin-top: auto;
  padding: 20px;
}
