
html {
  /* surface1 foundation */
  --brand-hue: 265;
  --brand-saturation: 100%;
  --brand-lightness: 50%;

  /* light */
  --brand-light: hsl(
    var(--brand-hue) 
    var(--brand-saturation) 
    var(--brand-lightness)
  );
  --text1-light: hsl(var(--brand-hue) var(--brand-saturation) 10%);
  --text2-light: hsl(var(--brand-hue) 14% 50%);
  --text-muted-light: hsl(var(--brand-hue) 14% 65%);
  --surface1-light: hsl(var(--brand-hue) 25% 90%);
  --surface2-light: hsl(var(--brand-hue) 20% 99%);
  --surface3-light: hsl(var(--brand-hue) 20% 92%);
  --surface4-light: hsl(var(--brand-hue) 20% 85%);
  --surface-shadow-light: var(--brand-hue) 10% 20%;
  --shadow-strength-light: .02;

  /* dark */
  --brand-dark: hsl(
    var(--brand-hue) 
    calc(var(--brand-saturation) / 2)
    calc(var(--brand-lightness) / 1.5)
  );
  --text1-dark: hsl(var(--brand-hue) 15% 85%);
  --text2-dark: hsl(var(--brand-hue) 5% 65%);
  --surface1-dark: hsl(var(--brand-hue) 10% 10%);
  --surface2-dark: hsl(var(--brand-hue) 10% 15%);
  --surface3-dark: hsl(var(--brand-hue) 5%  20%);
  --surface4-dark: hsl(var(--brand-hue) 5% 25%);
  --surface-shadow-dark: var(--brand-hue) 50% 3%;
  --shadow-strength-dark: .8;

  /* dim */
  --brand-dim: hsl(
    var(--brand-hue) 
    calc(var(--brand-saturation) / 1.25)
    calc(var(--brand-lightness) / 1.25)
  );
  --text1-dim: hsl(var(--brand-hue) 15% 75%);
  --text2-dim: hsl(var(--brand-hue) 10% 61%);
  --surface1-dim: hsl(var(--brand-hue) 10% 20%);
  --surface2-dim: hsl(var(--brand-hue) 10% 25%);
  --surface3-dim: hsl(var(--brand-hue) 5%  30%);
  --surface4-dim: hsl(var(--brand-hue) 5% 35%);
  --surface-shadow-dim: var(--brand-hue) 30% 13%;
  --shadow-strength-dim: .2;
}

:root {
  color-scheme: light;

  /* set defaults */
  --brand: var(--brand-light);
  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --text-muted: var(--text-muted-light);
  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
  --surface3: var(--surface3-light);
  --surface4: var(--surface4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --brand: var(--brand-dark);
    --text1: var(--text1-dark);
    --text2: var(--text2-dark);
    --surface1: var(--surface1-dark);
    --surface2: var(--surface2-dark);
    --surface3: var(--surface3-dark);
    --surface4: var(--surface4-dark);
    --surface-shadow: var(--surface-shadow-dark);
    --shadow-strength: var(--shadow-strength-dark);
  }
} */

[color-scheme="light"] {
  color-scheme: light;

  --brand: var(--brand-light);
  --text1: var(--text1-light);
  --text2: var(--text2-light);
  --surface1: var(--surface1-light);
  --surface2: var(--surface2-light);
  --surface3: var(--surface3-light);
  --surface4: var(--surface4-light);
  --surface-shadow: var(--surface-shadow-light);
  --shadow-strength: var(--shadow-strength-light);
}

[color-scheme="dark"] {
  color-scheme: dark;
  
  --brand: var(--brand-dark);
  --text1: var(--text1-dark);
  --text2: var(--text2-dark);
  --surface1: var(--surface1-dark);
  --surface2: var(--surface2-dark);
  --surface3: var(--surface3-dark);
  --surface4: var(--surface4-dark);
  --surface-shadow: var(--surface-shadow-dark);
  --shadow-strength: var(--shadow-strength-dark);
}

[color-scheme="dim"] {
  color-scheme: dark;

  --brand: var(--brand-dim);
  --text1: var(--text1-dim);
  --text2: var(--text2-dim);
  --surface1: var(--surface1-dim);
  --surface2: var(--surface2-dim);
  --surface3: var(--surface3-dim);
  --surface4: var(--surface4-dim);
  --surface-shadow: var(--surface-shadow-dim);
  --shadow-strength: var(--shadow-strength-dim);
}

/* END OF COLOR SCHEME STYLING */

:root {
  /* Elements */
  --font-family: system-ui, sans-serif;

  /* Easing */
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  block-size: 100%;
  background-color: var(--surface1);
}

body {
  min-block-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

/* ========== */
/* Typography */
/* ========== */

body {
  font-family: var(--font-family);
  color: var(--text1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
input,
li {
  line-height: 1.1;
}

h1 {
  font-size: 52px;
}

h2 {
  font-size: 44px;
}

h3 {
  font-size: 38px;
}

p, a, li, input {
  font-size: 18px;
  line-height: 1.4;
}

a {
  color: inherit;
  text-decoration: none;
}





/* =============== */
/* Utility classes */
/* =============== */

.rad-shadow {
  box-shadow: 0 1rem .5rem -.5rem;
  box-shadow:
    0 2.8px 2.2px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .03)),
    0 6.7px 5.3px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .01)),
    0 12.5px 10px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .02)),
    0 22.3px 17.9px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .02)),
    0 41.8px 33.4px hsl(var(--surface-shadow) / calc(var(--shadow-strength) + .03)),
    0 100px 80px hsl(var(--surface-shadow) / var(--shadow-strength))
  ;
}




/* ======== */
/* Elements */
/* ======== */

.list-container {
  padding: 0;
  border-top: 1px solid var(--surface1);
}

.badge {
  border-radius: .25rem;
  padding: .15rem .3rem;
  font-size: 13px;
  font-weight: 700;
}
.badge.not-started {
  background-color: var(--surface1);
}
.badge.in-progress {
  background-color: var(--brand);
  color: white;
}
.badge.complete {
  background-color: mediumspringgreen;
}

.button {
  display: block;
  padding: .75rem 1rem;
  border-radius: .25rem;
  background-color: var(--brand);
  border: none;
  cursor: pointer;
  color: white;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  transition: background-color .2s ease-in-out;
}

.back-button {
  margin-bottom: 1rem;
  display: inline-block;
  padding: .1rem 1rem;
  border-radius: 999px;
  background-color: var(--surface4);
  cursor: pointer;
  color: var(--text2);
  text-align: center;
  transition: background-color .2s ease-in-out;
}



/* ========= */
/* app index */
/* ========= */

.app-index_list-item {
  border-bottom: 1px solid var(--surface1);
  list-style: none;
}
.app-index_list-item > a {
  display: block;
  padding: 1rem 1.5rem;
}



/* ============== */
/* todo list view */
/* ============== */

.title-container {
  display: flex;
  align-items: baseline;
  gap: 0.75rem;
}

.progress-container {
  margin-top: 1rem;
}
.progress-text {
  font-size: 15px;
  color: var(--text2);
  margin-bottom: 0.5rem;
}
.progress-bar {
  background-color: var(--surface1);
  border-radius: 999px;
  overflow: hidden;
}
.progress {
  height: 0.35rem;
  background-color: var(--brand);
}

.todo-list_list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid var(--surface1);
  list-style: none;
}
.todo-list_list-item.completed {
  color: var(--text-muted);
}
.todo-list_list-item.completed .complete-button {
  color: var(--brand);
  border-color: var(--brand);
}

.buttons-container {
  display: flex;
  gap: 1rem;
}

.complete-button {
  display: block;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  cursor: pointer;
  color: transparent;
  border: 1px solid var(--surface4);
  transition: background-color .2s ease-in-out;
}

.add-todo-container {
  display: flex;
}
.add-todo-container > .text-input {
  flex: 1;
  padding: 0.5rem;
  border-radius: .25rem 0 0 .25rem;
  border: 1px solid var(--surface4);
  border-right: none;
}
.add-todo-container > .button {
  border-radius: 0 .25rem .25rem 0;
}



/* ====== */
/* Layout */
/* ====== */

.app-container {
  width: min(100%, 450px);
}

.app-card {
  display: flex;
  flex-direction: column;
  background-color: var(--surface2);
  border-radius: 1rem;
}
.app-card > *:not(.list-container) {
  margin: 1.5rem;
}
