.header
  position: relative
  z-index: 99
  background-color: $white
  box-shadow: $shadowSoft

  .ctr__header
    display: flex
    justify-content: space-between
    align-items: center

  .hustlerLogo
    display: block
    height: 8rem
    margin: 0
    padding: 2rem 0

  nav

    a, .navItem
      padding: 1.5rem
      font-size: 18px
      user-select: none

      &:hover
        background-color: $glacier
        border-radius: 5px

  .dropdown__products
    position: absolute
    top: 8rem
    left: 0
    right: 0
    background-color: $white
    border: 1px solid $storm
    box-shadow: $shadowMed

    .typeSelection
      border-bottom: 1px solid $storm
      
    .typeSelectionWrap
      margin: 0 auto
      max-width: 1200px
      padding: 0 2rem
      display: flex
      justify-content: space-around
      
      .btn__select
        flex: 1
        padding: 1rem

    .productsWrap
      margin: 0 auto
      max-width: 1200px
      padding: 0 2rem

    .productsGrid
      display: grid
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr

    .product
      margin: 3rem 1rem
      text-align: center

    