<p style="color: green"><%= notice %></p>

<h1>☑ Todos</h1>

<div id="todo-lists-container">
  <% @todo_lists.each do |todo_list| %>
    <%= render todo_list %>
  <% end %>
</div>

<%= link_to "New list", new_todo_list_path, class: "link-button" %>
