:root {
  --primary: hsl(17 100% 54%);
  --text-primary: hsl(200 50% 18%);
  --text-secondary: hsl(201 10% 40%);
  --success-primary: hsl(147 67% 51%);
  --success-secondary: hsl(145 66% 91%);
  --white: hsl(0 0% 100%);
  --gray-95: hsl(195 31% 95%);
  --gray-85: hsl(198 30% 85%);
  --gray-60: hsl(201 10% 60%);

  --radius-sm: 8px;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  background-color: var(--white);
  color: var(--text-primary);
  padding: 1rem;
  padding-bottom: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100svh;
}

h1 {
  font-size: 3rem;
  line-height: 1.1;
}
h2 {
  font-size: 2.6rem;
  line-height: 1.1;
}
h3 {
  font-size: 1.8rem;
  line-height: 1.1;
}
h4 {
  font-size: 1.5rem;
  line-height: 1.1;
}
h5 {
  font-size: 1rem;
  line-height: 1.1;
}

p,
li {
  font-size: 1rem;
  line-height: 1.4;
  color: var(--text-secondary);
}

button {
  border-radius: var(--radius-sm);
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 600;
  font-family: inherit;
  cursor: pointer;
  outline: none;
}

button.btn-outlined {
  border: 1px solid var(--primary);
  background-color: var(--white);
  color: var(--text-primary);
  transition: border-color 0.25s;
}

button.btn-contained {
  border: none;
  background-color: var(--primary);
  background-image: linear-gradient(
    to bottom,
    hsl(29, 100%, 54%),
    hsl(14 100% 48%)
  );
  box-shadow: 0 4px 12px -3px hsl(17, 100%, 53%);
  color: var(--white);
  font-weight: 700;
  padding: 0.8em 1.2em;
}
