// Setup
////////////////////////
html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

body
  margin: 0
  padding: 0
  background-color: var(--off-white)

h1,h2,h3,h4,h5,h6,p
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

h3
  font-size: calc(10px + 1.8vmin)

// Main styles begin
////////////////////////

#app-wrap
  display: flex
  justify-content: center

.wrap
  position: relative
  width: 100%
  max-width: 1200px

header
  position: fixed
  top: 0
  left: 0
  right: 0
  z-index: 10
  backdrop-filter: blur(10px)
  box-shadow: 0 4px 30px hsla(210, 15%, 0%, 0.1)
  display: flex
  align-items: center
  justify-content: space-between
  margin: 25px
  background-color: hsla(210, 15%, 100%, 0.5)
  border-radius: 100px

  .game-icon
    margin: 12px
    max-width: 50px

  .player-container
    display: flex
    margin: 0 calc(10px + 3vmin) 4px 0

    & .player + .player
      margin-left: 20px
  
  .player
    color: var(--text-inactive)
    transition: transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1)
    transform: scale(0.8)

    &__active
      color: var(--text-primary)
      transform: scale(1)
  
  span
    font-weight: 400
    letter-spacing: 0.03em

  
main
  padding: 126px 30px
  min-height: 100vh
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr))
  grid-template-rows: repeat(auto-fit, minmax(180px, 1fr))
  align-items: center
  justify-items: center
  grid-gap: 2vw
  perspective: 1000px

