// Setup
////////////////////////
html
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

body
  margin: 0
  padding: 0
  background-color: var(--off-white)

h1,h2,h3,h4,h5,h6,p
  margin: 0
  font-family: -apple-system, BlinkMacSystemFont, sans-serif
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

h3
  font-size: calc(10px + 1.8vmin)

// Main styles begin
////////////////////////

#app-wrap
  display: flex
  justify-content: center

.wrap
  position: relative
  width: 100%
  max-width: var(--wrap__max-width)
  
main
  padding: 126px 30px
  min-height: 100vh
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr))
  grid-template-rows: repeat(auto-fit, minmax(180px, 1fr))
  align-items: center
  justify-items: center
  grid-gap: 2vw
  perspective: 1000px

