:root {
  --nav-height: 60px;
  /* Colors */
  --white: 0 0% 100%;
  --black: 0 0% 0%;
  --solar: 64 89% 54%;
  --forest: 167 38% 15%;
}

body {
}

header {
  .logo {
  }

  nav {
  }

  @media screen and (max-width: 540px) {
  }
}

main {
  .page-wrap {
  }

  .hero {
  }
}

footer {
}
