:root {
  --hue: 250;
  --brand-color: hsl(var(--hue), 82%, 65%);
  --dark-color: hsl(var(--hue), 45%, 7%);
  --dark-indigo-color: hsla(240, 50%, 50%, 0.2);
  --light-color: hsl(var(--hue), 95%, 98%);
  --link-color: hsl(var(--hue), 95%, 55%);
  --border-color: hsl(var(--hue), 20%, 25%);

  --nav-height: 58px;
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --font-family: "IBM Plex Sans", system-ui, -apple-system, Helvetica Neue,
    sans-serif;

  ---transparent: #0f0c1b00;
}

/* ++++++ */
/* Global */
/* ++++++ */

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: var(--font-family), -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -mox-osx-font-smoothing: grayscale;
}

body {
  position: relative;
  min-height: 100vh;
  background-color: white;
  color: black;
}

@media (prefers-color-scheme: dark) {
  body {
    color: rgb(238, 238, 238);
    background-color: var(--dark-color);
    background-image: radial-gradient(
        circle 700px at 50% 0px,
        hsla(230, 100%, 23%, 0.4),
        var(---transparent)
      ),
      radial-gradient(
        circle 600px at calc(50% + 600px) 500px,
        hsla(270, 100%, 50%, 0.15),
        var(---transparent)
      ),
      radial-gradient(
        circle 800px at right center,
        hsla(210, 100%, 23%, 0.22),
        var(---transparent)
      ),
      radial-gradient(
        circle 1300px at calc(50% - 400px) calc(100% - 100px),
        hsla(270, 100%, 50%, 0.1),
        var(---transparent)
      );
  }
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6em;
}

/* +++ */
/* Nav */
/* +++ */

nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--nav-height);
  padding-right: 4px;
  background-color: var(--dark-color);
  user-select: none;
}

/* ++++ */
/* Menu */
/* ++++ */

.menu {
  position: fixed;
  z-index: 9;
  width: 100%;
  padding: var(--nav-height) 14px 10px;
  background-color: var(--dark-color);
  user-select: none;
}

.menu-header {
  padding-top: 30px;
  padding-bottom: 10px;
  text-transform: uppercase;
  font-size: 15px;
  letter-spacing: 0.5px;
}

.menu-ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-li {
  border-top: 1px solid var(--border-color);
  padding: 20px 10px;
  color: white;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

.menu-li * + * {
  margin-top: 10px;
}

.menu-verse-body {
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* +++++ */
/* Verse */
/* +++++ */

.verse-wrap {
  position: relative;
  top: var(--nav-height);
  min-height: calc(100vh - var(--nav-height));
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px 100px;
}

.verse-container {
  max-width: 700px;
  line-height: 1.5;
}

.verse-container .verse + .verse {
  margin-top: 50px;
}

.verse {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  user-select: none;
}

.verse-blank {
  cursor: pointer;
  color: transparent;
  background-color: var(--dark-indigo-color);
  border-radius: 6px;
}

.verse-button-bar {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    0deg,
    var(--dark-color) 0%,
    hsla(var(--hue), 45%, 7%, 0.98) 10%,
    hsla(var(--hue), 45%, 7%, 0.92) 20%,
    hsla(var(--hue), 45%, 7%, 0) 100%
  );
}

.verse-button-shuffle {
  position: relative;
  width: 64px;
  height: 64px;
  display: grid;
  place-items: center;
  cursor: pointer;
  color: var(--brand-color);
  transition: transform 200ms var(--ease-out-quart);
}

.verse-button-shuffle:active {
  transform: scale(0.94);
}

.verse-button-shuffle .squircle {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  filter: drop-shadow(0 5px 14px hsl(256, 100%, 35%));
}
