:root {
  --black: hsl(0 0% 0%);
  --gray-50: hsl(0 0% 5%);
  --gray-100: hsl(0 0% 10%);
  --gray-200: hsl(0 0% 20%);
  --gray-300: hsl(0 0% 30%);
  --gray-400: hsl(0 0% 40%);
  --gray-500: hsl(0 0% 50%);
  --gray-600: hsl(0 0% 60%);
  --gray-700: hsl(0 0% 70%);
  --gray-800: hsl(0 0% 80%);
  --gray-900: hsl(0 0% 90%);
  --gray-950: hsl(0 0% 95%);
  --white: hsl(0 0% 100%);

  /* --- */
  --grid-color: var(--gray-900);
  --forest-color: var(--gray-950);
  --mountains-color: var(--gray-500);
  --river-color: var(--gray-500);
  --ruins-color: var(--gray-500);
}

html {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  font-family: "Courier New", Courier, monospace;
}

#game-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

#text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#map-container {
  display: grid;
  /* rows and columns are dynamically set in JS */
  gap: 1px;
  background-color: var(--grid-color);
  border: 1px solid var(--grid-color);
  border-radius: 4px;
  overflow: hidden;
}

/* Tiles */

.tile {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
}

.tile.plains {
  --dot-color: var(--gray-800);
}

.tile.forest {
  background-color: var(--forest-color);
  --dot-color: var(--gray-700);
}

.tile.mountains {
  color: var(--mountains-color);
  /* --dot-color: hsl(0 0% 85%); */
}

.tile.river {
  color: var(--river-color);
  /* --dot-color: hsl(0 0% 50%); */
}

.tile.ruins {
  color: var(--ruins-color);
  --dot-color: var(--gray-800);
}

/* Create dots */
.tile::after {
  content: "";
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: var(--dot-color);
  border-radius: 999px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

/* Buttons */

button {
  background: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
  padding: 10px;

  &:hover {
    text-decoration: underline;
  }
}

#screenshot-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

#new-map-btn {
  position: fixed;
  bottom: 10px;
  left: 10px;
}
